@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Unbounded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --font: 'Unbounded', sans-serif;
  --handdraw-font: 'Over the Rainbow', cursive;
  --white: #ffff;
  --purple: #F13E51;
}

body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--white);
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img{
  pointer-events: none
}

/* .main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
} */

img{
  pointer-events: none;
}

.app {
  @apply flex flex-col;
}

.head_text {
  @apply font-extrabold leading-[1.15] 2xl:text-8xl xl:text-8xl lg:text-6xl md:text-5xl text-white z-50 text-4xl;
  z-index: 50;
  position: relative;
}

.button {
  @apply font-extrabold w-60 bg-purple text-white p-4 mt-5;
  border-radius: 5rem;
  transition: 0.2s ease-in;
  margin-top: 40px;
}

.button-contact {
  @apply font-extrabold w-60 bg-purple text-white p-4 mt-5;
  border-radius: 5rem;
  transition: 0.2s ease-in;
  width: 100%;
  z-index: 99;
  position: absolute;
}

.button-contact:hover{
  border-radius: 9.6875rem 5.5rem;
}

.button:hover{
  border-radius: 9.6875rem 5.5rem;
}

.custom_object{
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: -99;
}

.custom_font {
  font-family: var(--handdraw-font);
}

.custom_color{
  color: var(--purple);
}

svg{
  height: 60rem;
}

.heading-container {
  display: inline-block;
}

code{
  background-color: gray;
}

.select {
  width: 8rem;
  border: unset; 
  appearance: none;
}

.select_custom_arrow {
  background-image: url("/assets/icons/arrow.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5rem auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
  .back-button {
    display: none;
  }
  .map-container{
    margin-top: -17rem;
  }
}

@media screen and (max-width: 768px) {
  .custom_object{
    display: none;
  }
}

@media screen and (max-width: 1585px) {
  .contact-animation{
    height: 600px;
    width: 600px;
    margin-top: 13rem;
    margin-right: 4rem
  }
}

@media screen and (max-width: 1375px) {
  .contact-animation{
    height: 500px;
    width: 500px;
    margin-top: 15rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 1234px){
  .contact-animation{
    display:none;
  }
  .contact-container{
    display: grid;
    justify-content: center;
    width: 100%;
    left: 0;
  }
  .links-container {
    position:relative;
    left: 0;
  }
}