@import url('https://fonts.googleapis.com/css2?family=Acme&family=Over+the+Rainbow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1A1A21;
  --font: 'Acme', sans-serif;
  --handdraw-font: 'Over the Rainbow', cursive;
  --white: #ffff;
}

body {
  background-color: var(--background);
  font-family: var(--font);
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

img{
  pointer-events: none;
}

.app {
  @apply relative z-10 flex flex-col;
}

.head_text {
  @apply font-extrabold leading-[1.15] 2xl:text-8xl xl:text-8xl lg:text-7xl md:text-5xl text-white z-50 text-4xl;
}

.button {
  @apply font-extrabold w-60 bg-purple text-white p-4 mt-5;
  border-radius: 5.5rem 9.6875rem;
  transition: 0.2s ease-in;
}

.button:hover{
  border-radius: 9.6875rem 5.5rem;
}

.custom_font {
  font-family: var(--handdraw-font);
}


@media screen and (max-width: 900px) {
  .world-animation {
    display: none;
  }
}