@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Unbounded&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --font: 'Unbounded', sans-serif;
  --handdraw-font: 'Shadows Into Light Two', cursive;
  --white: #ffff;
  --purple: #F13E51;
  --purple-hover: #ed6472;
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
  filter: blur(4px);
}

.nav {
  z-index: 999;
}

.hamburger {
  cursor: pointer;
  z-index: 999;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 4em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.navbar-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px; 
  height: 100%;
  background-color: #0D0D0D; 
  transition: right 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 998;
}

.city-card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 40px;
}

.city-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.city-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.country-name {
  font-size: 1rem;
  margin-top: 0;
}

.city-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.city-image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1; /* Ensure the overlay is behind the text */
}

.navbar-links.active {
  right: 0;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

/* .navbar-links ul li {
  padding: 10px;  
} */

.navbar-links ul li a {
  color: white;
  font-size: 3.5rem;
  padding-left: 60px;
}

.navbar-links ul li a:hover {
  color: var(--purple);
  transition: 0.2s ease;
}

.custom-tooltip{
  z-index: 999;
}

body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--white);
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img{
  pointer-events: none
}

/* .main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
} */

img{
  pointer-events: none;
}

rect{
  height: 100px;
  display: none;
}

.tag{
  background-color: #001A64;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.app {
  @apply flex flex-col;
}

.head_text {
  @apply font-extrabold leading-[1.15] 2xl:text-8xl xl:text-8xl lg:text-6xl md:text-5xl text-white z-50 text-4xl;
  z-index: 50;
  position: relative;
}

.button {
  @apply font-extrabold w-80 bg-purple text-white p-7 mt-5;
  border-radius: 5rem;
  transition: 0.3s ease-in;
  margin-top: 40px;
}

.button-contact {
  @apply font-extrabold w-60 bg-purple text-white p-4 mt-5;
  transition: 0.3s ease-in;
  width: 100%;
  z-index: 99;
  position: absolute;
}

/* .button-newsletter{
  @apply font-extrabold bg-purple text-white p-3.5 ml-4 ; 
  border-radius: 5rem;
  transition: 0.3s ease-in;
} */

.button-contact:hover{
  background-color: var(--purple-hover);
}

.button:hover{
  background-color: var(--purple-hover);
}

/* .button-newsletter:hover{
  background-color: var(--purple-hover);
} */

.custom_object{
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: -99;
}

.custom_font {
  font-family: var(--handdraw-font);
  text-transform: uppercase;
  padding-right: 5px;
}

.input {
  height: 40px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  letter-spacing: 2px;
  color: black;
}

.input:focus {
  outline: none;
  border: 0.5px solid var(--purple);
  box-shadow: -5px -5px 0px var(--purple);
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.custom_color{
  color: var(--purple);
}

svg{
  height: 60rem;
}

.heading-container {
  display: inline-block;
}

code{
  background-color: gray;
}

.select {
  width: 8rem;
  border: unset; 
  appearance: none;
  background-color: #F13E51;
  color: white;
}

.select_custom_arrow {
  background-image: url("/assets/icons/arrow2.png");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5rem auto;
}

#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

.card {
  padding: 2rem 2rem;
}
.loader {
  color: white;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--purple);
  animation: spin_4991 4s infinite;
}
.active{
  color:#F13E51;
}

.page-item{
  padding: 0px 5px 100px 5px;
  font-size: 24px;
}

.pagination-container{
  display: flex;
  justify-content: center;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}


/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .back-button {
    display: none;
  }
  .custom_object{
    display: none;
  }
  .mouse_scroll{
    display: grid;
    justify-content: center;
  }
  .map-container{
    margin-top: -17rem;
  }
  .map-tooltip-container{
    display: none;
  }
  .nomadify-logo{
    height: 50px !important;
    width: 50px !important;
  } 	
  .hamburger svg{
    height: 3em;
  }
  .other-cities-container, .featured-cities-container{
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    display: grid !important;
  }
  .page-item{
    font-size: 16px;
  }
}

@media screen and (max-width: 1585px) {
  .contact-animation{
    height: 600px;
    width: 600px;
    margin-top: 6rem;
    margin-right: 4rem
  }
}

@media screen and (max-width: 1600px) {
  .other-cities-container, .featured-cities-container{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-links{
    width: 300px;
  }
  .navbar-links ul li a {
    font-size: 2rem;
  }
  .other-cities-container, .featured-cities-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
}

@media screen and (max-width: 1375px) {
  .contact-animation{
    height: 500px;
    width: 500px;
    margin-top: 9rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 1234px){
  .contact-animation{
    display:none;
  }
  .contact-container{
    display: grid;
    justify-content: center;
    width: 100%;
    left: 0;
  }
  .links-container {
    position:relative;
    left: 0;
  }
  .input{
    width: 90%
  }
  .map-container{
    margin-top: -11rem;  
  }
}

@media screen and (max-width: 635px){
  .tags{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  } 
  .tag{
    width: 100%;
  }
  .map-container{
    margin-top: -20rem;
  }
}

@media screen and (max-width: 425px){
  .map-tooltip-container{
    bottom: 0;
    left: 0;
    padding-left: 20px;
  } 
}

@media screen and (max-width: 320px){
  .navbar-links{
    width: 200px;
  }
  .navbar-links ul li a {
    font-size: 1.5rem;
    padding-left: 30px;
  }
}

/* ANIMATIONS */
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}