@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #060606;
  --font: 'Unbounded', sans-serif;
  --handdraw-font: "Indie Flower", cursive;;
  --white: #ffff;
  --purple: #f13e51;
  --purple-hover: #ed6472;
  --default-background-color: #333333; /* New default background color */
}

body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--white);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#video-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 10;
  filter: blur(4px);
}

.tags-container{
  z-index: 999;
  height: 30rem;
  display: grid;
  align-items: center;
}

.tags-h1, .featured-h1 {
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.featured-h1{
  text-align: left;
  padding-left: 10rem;
}

.nav {
  z-index: 999;
}

.hamburger {
  cursor: pointer;
  z-index: 999;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 4em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tags-single{
  justify-content: center !important;
  padding-top: 10px;
}

.tag {
  background-color: #001a64;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px;
  height: 100%;
  background-color: #0d0d0d;
  transition: right 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 998;
}

.city-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.city-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.city-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem;
  padding: 2.5rem;
}

.countries-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.country-name {
  font-size: 1rem;
  margin-top: 0;
}

.country-title{
  text-align: center;
}

.city-card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-top: 40px;
  flex: 0 0 21.4rem; /* Default width */
  height: 20rem; /* Default height */
  background-color: var(--default-background-color); /* Default background color */
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.city-card-container:hover {
  transform: scale(1.05); /* Slight scaling effect on hover */
}

.default-background {
  background-color: var(--default-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}

.city-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.city-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.navbar-links.active {
  right: 0;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .navbar-links ul li {
  padding: 10px;  
} */

.navbar-links ul li a {
  color: white;
  font-size: 3rem;
  padding-left: 60px;
}

.navbar-links ul li a:hover {
  color: var(--purple);
  transition: 0.2s ease;
}

.custom-tooltip {
  z-index: 999;
}

.breadcrumb-url-segment:hover {
  color: var(--purple-hover);
}

img {
  pointer-events: none;
}

.city-single-title-container {
  height: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.city-single-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* .main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
} */

img {
  pointer-events: none;
}

rect {
  height: 100px;
  display: none;
}

.tag {
  background-color: #001a64;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.app {
  @apply flex flex-col;
}

.head_text {
  @apply font-extrabold leading-[1.15] 2xl:text-8xl xl:text-8xl lg:text-6xl md:text-5xl text-white z-50 text-4xl;
  z-index: 50;
  position: relative;
}

.button {
  @apply font-extrabold w-80 bg-purple text-white p-7 mt-5;
  border-radius: 5rem;
  transition: 0.3s ease-in;
  margin-top: 40px;
}

.button-contact {
  @apply font-extrabold w-60 bg-purple text-white p-4 mt-5;
  transition: 0.3s ease-in;
  width: 100%;
  z-index: 99;
  position: absolute;
}

/* .button-newsletter{
  @apply font-extrabold bg-purple text-white p-3.5 ml-4 ; 
  border-radius: 5rem;
  transition: 0.3s ease-in;
} */

.button-contact:hover {
  background-color: var(--purple-hover);
}

.button:hover {
  background-color: var(--purple-hover);
}

/* .button-newsletter:hover{
  background-color: var(--purple-hover);
} */

/* .input-container{
  display: flex;
  justify-content: center;
} */

.custom_object {
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  top: 2.5rem;
  z-index: -99;
}

.title-container {
  position: relative;
  width: 100%;
  height: 83vh; /* Full viewport height */
  overflow: hidden;
}

.title-description{
  font-family: var(--handdraw-font);
  padding-top: 8rem;
}

.title-button{
  letter-spacing: 2px;
  padding: 10px 25px 10px 25px;
  top: 6.9rem
}

.custom_font {
  font-family: var(--handdraw-font);
  text-transform: uppercase;
  padding-right: 5px;
}

.input, .input-title {
  height: 40px;
  padding: 10px;
  transition: 0.2s linear;
  font-size: 14px;
  letter-spacing: 2px;
  color: black;
}

.input-title{
  padding: 30px !important;
  border-radius: 15px;
}

.input:focus, .input-title:focus {
  outline: none;
  border: 0.5px solid var(--purple);
  box-shadow: -5px -5px 0px var(--purple);
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.custom_color {
  color: var(--purple);
}

svg {
  height: 60rem;
}

.heading-container {
  display: inline-block;
}

code {
  background-color: gray;
}

.select {
  width: 8rem;
  border: unset;
  appearance: none;
  background-color: #f13e51;
  color: white;
}

.select_custom_arrow {
  background-image: url('/assets/icons/arrow2.png');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1.5rem auto;
}

.card {
  padding: 2rem 2rem;
}
.loader {
  color: white;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: var(--purple);
  animation: spin_4991 4s infinite;
}
.active {
  color: #f13e51;
}

.page-item {
  padding: 0px 5px 100px 5px;
  font-size: 24px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

/* mouse scroll */
#mouse-scroll {
  -webkit-transform: translateX(-50%);
  z-index: 999;
}

#mouse-scroll span{
  display: block;
  width: 5px; 
  height: 5px;
  -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
       transform: rotate(45deg);
       transform: rotate(45deg);
  border-right: 2px solid #fff; 
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite; 
    -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
   -webkit-animation-delay: .1s; 
   -moz-animation-delay: .1s;
   -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: .2s; 
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
   -webkit-animation-delay: .3s;
   -moz-animation-dekay: .3s;
   -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block; 
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}

#mouse-scroll .mouse-in {
 -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
     opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  } 
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


/* Media Queries */
@media screen and (max-width: 1200px) {
  .city-card-container {
    flex: 0 0 18rem; /* Adjusted width for medium screens */
    height: 18rem; /* Adjusted height for medium screens */
  }
}


@media screen and (max-width: 992px) {
  .city-card-container {
    flex: 0 0 16rem; /* Adjusted width for small screens */
    height: 16rem; /* Adjusted height for small screens */
  }
}

@media screen and (max-width: 576px) {
  .city-card-container {
    flex: 0 0 12rem; /* Adjusted width for mobile phones */
    height: 12rem; /* Adjusted height for mobile phones */
  }

  .city-info .city-name {
    font-size: 1.2rem; /* Smaller font for mobile */
  }

  .city-info .country-name {
    font-size: 0.8rem; /* Smaller font for mobile */
  }
  .title-description{
    padding: 2.5rem 0rem 2.5rem 0rem !important;
    font-size: 1.5rem;
  }
  .input-container{
    padding-top: 0;
  }
  .title-button{
    top: 50%;
    padding: 10px;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .back-button {
    display: none;
  }
  .city-card-container {
    flex: 0 0 14rem; /* Adjusted width for tablets */
    height: 14rem; /* Adjusted height for tablets */
  }
  .breadcrumb {
    display: none;
  }
  .custom_object {
    display: none;
  }
  .mouse_scroll {
    display: grid;
    justify-content: center;
  }
  .map-container {
    margin-top: -17rem;
  }
  .map-tooltip-container {
    display: none;
  }
  .nomadify-logo {
    height: 50px !important;
    width: 50px !important;
  }
  .hamburger svg {
    height: 3em;
  }
  .other-cities-container,
  .featured-cities-container, .city-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    display: grid !important;
  }
  .page-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 1585px) {
  .contact-animation {
    height: 600px;
    width: 600px;
    margin-top: 6rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 1600px) {
  .other-cities-container,
  .featured-cities-container, .city-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
}

@media screen and (max-width: 1024px) {
  .navbar-links {
    width: 300px;
  }
  .navbar-links ul li a {
    font-size: 2rem;
  }
  .other-cities-container,
  .featured-cities-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
  .city-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
  }
}

@media screen and (max-width: 1375px) {
  .contact-animation {
    height: 500px;
    width: 500px;
    margin-top: 9rem;
    margin-right: 4rem;
  }
}

@media screen and (max-width: 1234px) {
  .contact-animation {
    display: none;
  }
  .contact-container {
    display: grid;
    justify-content: center;
    width: 100%;
    left: 0;
  }
  .links-container {
    position: relative;
    left: 0;
  }
  .input {
    width: 90%;
  }
  .map-container {
    margin-top: -11rem;
  }
}

@media screen and (max-width: 635px) {
  .tags {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
  }
  .tag {
    width: 100%;
  }
  .map-container {
    margin-top: -20rem;
  }
}

@media screen and (max-width: 656px) {
  .title-container{
    height: 90vh;
  }
}

@media screen and (max-width: 425px) {
  .map-tooltip-container {
    bottom: 0;
    left: 0;
    padding-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .navbar-links {
    width: 200px;
  }
  .navbar-links ul li a {
    font-size: 1.5rem;
    padding-left: 30px;
  }
}

@media screen and (max-width: 840px) {
  .tags-h1, .featured-h1{
    font-size: 2.5rem;
    padding-top: 5rem;
  }
}